{% macro loop(page) %}
    {% for p in page.children.visible %}
        {% set current_page = (p.active or p.activeChild) ? 'selected' : '' %}
        {% if p.children.visible.count > 0 %}
            <a href="{{ p.url }}" class="pseudo button has_children {{ current_page }}">{{ p.menu }}</a>
            <ul>
                {{ _self.loop(p) }}
            </ul>
        {% else %}
            <a href="{{ p.url }}" class="pseudo button {{ current_page }}">{{ p.menu }}</a>
        {% endif %}
    {% endfor %}
{% endmacro %}

<div class="menu">
    {% if theme_config.dropdown.enabled %}
        {{ _self.loop(pages) }}
    {% else %}
        {% for page in pages.children.visible %}
            {% set current_page = (page.active or page.activeChild) ? 'selected' : '' %}
            <a href="{{ page.url }}" class="pseudo button {{ current_page }}">{{ page.menu }}</a>
        {% endfor %}
    {% endif %}
    {% for mitem in site.menu %}
        <a href="{{ mitem.url }}" class="pseudo button">{{ mitem.text }}</a>
    {% endfor %}
</div>
